.App {
  margin: 0 auto;
  min-height: 500px;
  /* border: 2px solid; */
  width: 400px;
  max-width: 90%;
  padding: 20px;
  border-radius: 5px;
  background: rgba(255,255,255,.7);
  color: #443e3e;
}

.App__Header {
  text-align: center;
  margin: 0 0 10px;
  color: #443e3e;
  /* text-shadow: 1px 1px 5px #fff; */
}

/* write your parent styles in here for your App.js */
