.App {
  margin: 0 auto;
  height: 670px;
  width: 400px;
  max-width: 90%;
  padding: 30px;
  border-radius: 5px;
  background: rgba(255,255,255,.7);
  color: #443e3e;
  position: relative;
  transition: all .2s ease;
}

.App__Header {
  margin: 0 0 10px;
  color: #443e3e;
  margin-bottom: 30px;
}

.App__char-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 24px;
}

.App__char-list__item {
  padding: 10px 0;
}

.prev {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.next {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.prev, .next {
  font-size: 18px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 3px 5px;
  background: white;
  cursor: pointer;
}
